<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Harold's site</title>
    <meta content="Andy's portfolio" name="description" property="og:description">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}"> {% block style %} {% endblock %}

</head>

<body>
    {% block top %} {% endblock %}

    <section class="fixed-nav-bar">
        <nav>
            <div id="navigation-bar">
                <ul>
                    <li><a href="/album_menu"><i ></i><span>Albums</span></a></li>
                    <li><a href="/"><i ></i><span>Main page</span></a></li>
                    <li><a href="/logout"><i ></i><span>Logout</span></a></li>
                </ul>
            </div>
        </nav>
    </section>



    {% block body %} {% endblock %}

    <footer>
        <div class="wrapper">
            <ul>
                <li>
                    <a class="fa fa-github-square " href="https://github.com/EvilRobot01" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-twitter-square" href="https://twitter.com/harold_bothead" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-linkedin-square " href="https://www.linkedin.com/in/harolddf/" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-envelope" href="mailto:fullstackbot@hotmail.com" target="_blank"></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>