{% extends "base.html" %} {% block top %}
<section class="intro">

    <div class="intro-text">
        <div class="welcome">
            <h1>Hello visitor, I am <span>Harold</span>, a <span>Full-Stack Python Developer</span> from <span>Phoenix, AZ</span></h1>
        </div>
    </div>
</section>
{% endblock %} {% block body %}
<section class="projects" id="projects">
    <div class="projects-collage">

        {% for album in albums %}
        <a class="project-item" href="/photo_upload/{{album.id}}" target="_blank">
            

                {% for photo in photos if photo.album_id== album.id %}
                <figure class="project-figure">
                <img src="{{photo.image}}"> </figure>{% endfor %}
            
        </a> {% endfor %}

    </div>
</section>
{% endblock %}