{% extends "base.html" %} {% block style %}
<link href="static/styles/album.css" rel="stylesheet"> {% endblock %} {% block top %}
<h2>An ordered album list</h2>
<form action="{{url_for('album_menu')}}" method="POST">
    {{form.csrf_token}}

    <div class="form-group">
        {{form.album_name(class="form-control", placeholder="Enter a new album")}}
        <ul>
            {% for error in form.album_name.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>

    </div>

    <button type="submit" name='submit' class="registerbtn" value="register">Register</button>
</form>
{% endblock %} {% block body %} {% for album in albums %}
<div class="row">
    <h1><a href="{{url_for('uploaded_file', album_id=album.id)}}">{{album.id}}--------{{album.name}}</a><a href="/delete_album/{{album.id}}">Delete</a></h1>
    <h2></h2> {% for photo in photos if photo.album_id== album.id %}
    <div class="column">
        <img src="{{photo.image}}" alt="" onclick="myFunction(this);">
    </div>
    {% endfor %} </div> {% endfor %} {% endblock %}