<!DOCTYPE html>
<html>

<body>

    <h2>An ordered album list</h2>
    <form action="{{url_for('album_menu')}}" method="POST">
        {{form.csrf_token}}

        <div class="form-group">
            {{form.album_name(class="form-control", placeholder="Enter a new album")}}
            <ul>
                {% for error in form.album_name.errors %}
                <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>

        </div>

        <button type="submit" class="registerbtn">Register</button>
    </form>

    <ol>
        {% for album in albums %}
        <li>
            <a href="{{url_for('uploaded_file', filename=album.id)}}">{{album.id}}--------{{album.name}}</a>
        </li>
        {% for photo in photos if photo.album_id== album.id %}
        <li>-------{{photo.album_id}}-----{{photo.image}}</li>
        <li><img src="{{photo.image}}" alt="Robot Image" width="100" height="100"></li>
        {% endfor %} {% endfor %}

    </ol>

</body>

</html>