{% extends "base.html" %} {% block style %}
<link href="static/styles/login.css" rel="stylesheet"> {% endblock %} {% block body %}
<form action="{{url_for('login')}}" method="POST">


    <div class="container">
        {% if message %}
        <span style="color: red;">{{ message }}</span> {% endif %} {{ form.csrf_token }} {{ form.username(placeholder="Enter Username") }} {% for error in form.username.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %} {{ form.password(placeholder="Enter Password") }} {% for error in form.password.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}



        <button type="submit">Login</button>

    </div>
</form>
{% endblock %}