<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ol>
        {% for album in albums %}
        <li>/////////{{album.id}}////////{{album.name}}</li>

        {% for photo in photos if photo.album_id== album.id %}
        <li>-------{{photo.album_id}}-----{{photo.image}}</li>
        <li><img src="{{photo.image}}" alt="Robot Image"></li>
        <li><img src="..\uploads\robot_.jpg" alt="Robot Image"></li>
        {% endfor %} {% endfor %}

    </ol>
</body>

</html>