{% extends "base.html" %} {% block top %} {% block style %} {% endblock %}


<form method="post" enctype="multipart/form-data">
    <input type="file" multiple="" name="file[]" class="span3" /><br />
    <input type="submit" value="Upload" class="span2">
</form>

{% endblock %} {% block body %} {% for photo in photos %}
<li>{{photo.album_id}}-------------{{photo.image}}---{{photo.id}}
</li>
<a href="/delete_photo/{{photo.album_id}}/{{photo.id}}">Delete</a>
<img src="{{photo.image}}" alt="Robot Image" width="460" height="345"> {% endfor %}
</ul>

{% endblock %}