{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/upload.css') }}"> {% endblock %} {% block top %}
<form method="post" enctype="multipart/form-data">

    <input type="file" multiple="" name="file[]" class="span3" />
    <input type="submit" value="Upload" class="span2">
</form>



{% endblock %} {% block body %}
<div class="row">


    {% for photo in photos %}
    <div class="column">
        <h2>{{photo.image}}</h2>
        <h2><a href="/delete_photo/{{photo.album_id}}/{{photo.id}}" style="color: red;">Delete</a></h2>
        <img src="{{photo.image}}" alt="Robot Image" width="460" height="345">
    </div>
    {% endfor %}

</div>


{% endblock %}