<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">How To Upload a File</h3>
        </div>
        <hr/>
        <div>

            <form method="post" enctype="multipart/form-data">
                <input type="file" multiple="" name="file[]" class="span3" /><br />
                <input type="submit" value="Upload" class="span2">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Uploaded files</h3>
        </div>
        <hr/>
        <div>
            This is a list of the files you just uploaded, click on them to load/download them
            <ul>
                {% for photo in photos %}
                <li>{{photo.album_id}}-------------{{photo.image}}---{{photo.id}}
                </li>
                <a href="/delete_photo/{{photo.album_id}}/{{photo.id}}">Delete</a>
                <img src="{{photo.image}}" alt="Robot Image" width="460" height="345"> {% endfor %}
            </ul>

        </div>
        <div class="header">
            <h3 class="text-muted">Code to manage a Upload</h3>
        </div>
        <hr/>
    </div>
    </div>

</body>

</html>