/************************/


/************************/


/************************/


/* HTML */

.projects,
.contact,
nav,
footer {
    text-align: center;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: lighter
}

*,
*::before,
*::after {
    box-sizing: inherit
}

html,
body,
ul,
ol,
figure {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle
}

h1,
h2,
h3 {
    margin: 0
}

p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1.5em
}


/************************/


/************************/


/************************/


/* Body */

body {
    font: normal 300 18px "Roboto", sans-serif;
    color: white;
    background-color: black;
    line-height: 1.5;
}

a {
    color: white;
    font-weight: 300;
    position: relative;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
    outline: none
}

a:hover,
a:focus {
    color: #757575;
    outline: none
}

p {
    font-weight: 300
}

b {
    font-weight: 400
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 600
}


/************************/


/************************/


/************************/


/* Navbar */

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0px;
    background-color: black;
}

nav {
    max-width: 96rem;
    margin: 130px auto;
    margin-top: 0px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    padding: 5px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav ul {
    transition: 1s
}

nav ul li {
    display: inline-block;
    padding: 0 2rem;
    margin-right: -.375em;
    position: relative
}

nav ul li:before {
    content: "";
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 0;
    width: 1px;
    height: .75rem;
    margin-top: -.375rem
}

nav ul li:first-child:before {
    display: none
}

nav ul li a {
    letter-spacing: .0625rem;
    cursor: pointer
}

nav ul li a:after {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: 50% 0;
    transform: scaleX(0.6);
    transition: .3s
}

nav ul li a:hover:after {
    background-color: rgb(9, 116, 255);
    transform: scaleX(1)
}

@media (max-width: 768px) {
    nav {
        font-size: 20px;
    }
}


/************************/


/************************/


/************************/


/* Intro */

.welcome {
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem
}

.intro {
    position: fixed;
    top: 0;
    height: 30rem;
    width: 100%;
    z-index: -1
}

.intro .intro-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.intro span {
    color: rgb(9, 116, 255);
}

.intro h1 {
    max-width: 96rem;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: lighter
}

@media (max-width: 768px) {
    .intro {
        text-align: center;
    }
    .intro h1 {
        width: 100%;
        font-size: calc(2rem + 1vw);
    }
}

.intro .down {
    bottom: 2.5rem
}

.intro .down:hover {
    bottom: 2rem
}


/****************************/


/****************************/


/****************************/


/* Projects */

.projects {
    margin-top: 30rem;
    background-color: black
}

.projects .projects-collage {
    max-width: 96rem;
    margin: 0 auto
}

.projects .projects-collage::after {
    content: "";
    display: table;
    clear: both
}

.projects .projects-collage img {
    max-width: 100%;
    height: auto
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in
}

a.project-item {
    position: relative;
    display: block;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

@media (min-width: 769px) {
    a.project-item {
        width: 50%;
        float: left
    }
}

a.project-item:hover .project-overlay {
    opacity: .7
}

a.project-item:hover .project-text {
    top: 50%;
    opacity: 1
}

a.project-item:hover .project-text h2:after {
    transform: scaleX(1)
}

@media (max-width: 768px) {
    a.project-item .project-overlay {
        opacity: .7
    }
    a.project-item .project-text {
        top: 50%;
        opacity: 1
    }
}

.project-text {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    line-height: 1;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease-out;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 2px black;
    ;
}


}
.project-text h2 {
    position: relative;
    font-size: 2rem;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .125rem
}
.project-text p {
    margin: 0;
    padding-top: 1.5rem
}
img {
    height: 375px;
    width: 100%;
}

/******************************/

/******************************/

/******************************/

/* Skills */
.skill,
skill-p {
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
}
.skill {
    position: relative;
    width: 100%;
    z-index: -1
}
.skill span {
    color: rgb(9, 116, 255);
}
.skill h1 {
    max-width: 96rem;
    font-size: 3rem;
    font-weight: lighter
}
.skill-p ul li {
    max-width: 96rem;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: lighter;
    list-style: none;
}
.skill-p ul li::before {
    content: "⇀";
    color: white;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .skill h1 {
        font-size: calc(2rem + 1vw);
    }
    
    .skill-p ul li {
        font-size: calc(1rem + 1vw);
    }
}

/******************************/

/******************************/

/******************************/

/* Identity */
.identity {
    background-color: black;
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.identity-pic img {
    height: auto;
    width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
}
.identity-p {
    font-weight: lighter;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
}
@media (max-width: 768px) {
    .identity-pic img {
        width: 100%;
    }
    
    .identity-p {
        font-size: calc(1rem + 1vw);
    }
}

/******************************/

/******************************/

/******************************/

/* Contacts */
footer {
    padding: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    transition: 1s
}
footer ul li {
    display: inline-block;
    padding: 0 2rem;
    margin-right: -.375em;
    position: relative
}
footer ul li:before {
    content: "";
    display: block;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 0;
    width: 1px;
    height: .75rem;
    margin-top: -.375rem
}
footer ul li:first-child:before {
    display: none
}
footer ul li a {
    letter-spacing: .0625rem;
    cursor: pointer
}
footer ul li a:after {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: 50% 0;
    transform: scaleX(0.6);
    transition: .3s
}
footer ul li a:hover:after {
    background-color: rgb(9, 116, 255);
    transform: scaleX(1)
}